:host ::ng-deep {
  .mat-progress-bar  {
    position: absolute;
  }
  
  .mat-progress-bar-fill::after {
    background-image: linear-gradient(to right, #9C0042, #F30008);
  }

  .mat-progress-bar-buffer {
    background: #9C0042;
  }
}
